---
import ArticleSchema from "../components/ArticleSchema.astro";
import Page from "./Page.astro";
import { Image } from "astro:assets";

const { frontmatter } = Astro.props;
---

<Page seo={frontmatter}>
  <Fragment slot="head-bottom">
    <ArticleSchema {...frontmatter} />
  </Fragment>
  <article class="post-content__article">
    <h1>{frontmatter.title}</h1>
    <time>{frontmatter.publishDate}</time>
    <br />
    {
      frontmatter.image && (
        <Image
          src={frontmatter.image}
          alt={frontmatter.alt}
          width={700}
          height={350}
          loading="eager"
          class="post-main__img"
        />
      )
    }
    <slot />
    {
      frontmatter.notAI && (
        <>
          <p>...</p>
          <a class="not_ai" href="https://notbyai.fyi/" target="_blank">
            <Image
              src="/assets/notAI.png"
              alt="Written by a human, not by AI"
              width={131}
              height={42}
              loading="lazy"
            />
          </a>
        </>
      )
    }
  </article>
</Page>

<style>
  .post-main__img {
    width: 100%;
    height: auto;
  }

  .not_ai {
    border-bottom: none;
  }
</style>
