---
import Layout from "./Base.astro";
import Container from "../components/Container.astro";
import ArticleSchema from "../components/ArticleSchema.astro";
import Page from "./Page.astro";

const { frontmatter } = Astro.props;
---

<Page seo={frontmatter}>
  <Fragment slot="head-bottom">
    <ArticleSchema {...frontmatter} />
  </Fragment>
  <article class="post-content__article">
    <h1>{frontmatter.title}</h1>
    <time>{frontmatter.publishDate}</time>
    <br>
    {
      frontmatter.image && (
        <img
          width="720"
          height="420"
          class="post-main__img"
          loading="lazy"
          src={frontmatter.image}
          alt={frontmatter.alt}
        />
      )
    }
    <slot />
  </article>
</Page>
